{:objects
 {:Contact
  {:description "Contact book's contact"
   :fields
                {:id {:type (non-null ID)}
                 :name {:type (non-null String)}
                 :company_name {:type (non-null String)}
                 :title {:type (non-null String)}
                 :phones {:type (list :Phone)
                          :description "Phones number of this contact"
                          :resolve :Contact/phones}}}
  :Phone
  {:fields
   {:id {:type (non-null ID)}
    :phone {:type (non-null String)}
    :contact {:type (non-null :Contact)
              :resolve :Phone/contact}}}}

 :queries
 {:contact_by_id
  {:type :Contact
   :description "Access a BoardGame by its unique id, if it exists."
   :args
   {:id {:type ID}}
   :resolve :query/contact_by_id}}}